{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %}Title{% endblock %}</title>

   {% load static %}
   <link rel="stylesheet" type="text/css" href="{% static 'maths/css/style_maths.css' %}">

   {# Load CSS and JavaScript #}
   {% bootstrap_css %}
   {% bootstrap_javascript jquery='full' %}

</head>

<body>   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">DINGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/me">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/posts">POSTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/maths/histories/">MATHS</a>
              </li>
              <li class="nav-item">
                <a class="nav-item nav-link" href="/contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    
<div id="content">
   
   {% bootstrap_messages %}
   <div class="container-fluid">
       {% block content %}
           To jest blok kodu. W innych szablonach możemy go nadpisać.
       {% endblock %}
   </div>
</div>
</body>
</html>