{% extends "layout/base.html" %}
{% block content %}

<hr class="my-4">
<h3>Best rated books:</h3>
<div class="row lastBooksContainer">
    {% for book in top_3_books %}
    <div class="col-md-4 bookCard">
        <div style="background-color: rgb(47, 122, 202)" class="cardBorder">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.name }}</h5>
            {% for author in book.authors.all %}
            <h6>{{ author.first_name }} {{ author.last_name }}</h6>
            {% endfor %}
            {% if book.actual_rating %}<br>
            {% for rate in book.actual_rating %}
            <span class="fa fa-star checked"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg></span>
              {% endfor %} 
              <br>
              {% else %}
              <br>
            <h6><b>Nobody rated</b></h6>
            {% endif %}
            <br>
            <a href="{% url 'bookDetail' pk=book.pk %}"><button class="btn btn-success btn-xs">Book details</button></a>
        </div>
    </div>
    {% endfor %}
</div>
<h3>Most review books:</h3>
<div class="row lastBooksContainer">
    {% for book in most_reviews %}
    <div class="col-md-4 bookCard">
        <div style="background-color: rgb(47, 122, 202)" class="cardBorder">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.name }}</h5>
            {% for author in book.authors.all %}
            <h6>{{ author.first_name }} {{ author.last_name }}</h6>
            {% endfor %}
            {% if book.actual_rating %}<br>
            {% for rate in book.actual_rating %}
            <span class="fa fa-star checked"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg></span>
              {% endfor %} 
              <br>
              {% else %}
              <br>
            <h6><b>Nobody rated</b></h6>
            {% endif %}
            <br>
            <a href="{% url 'bookDetail' pk=book.pk %}"><button class="btn btn-success btn-xs">Book details</button></a>
        </div>
    </div>
    {% endfor %}
</div>
<h3>Most comment books:</h3>
<div class="row lastBooksContainer">
    {% for book in most_comments %}
    <div class="col-md-4 bookCard">
        <div style="background-color: rgb(47, 122, 202)" class="cardBorder">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.name }}</h5>
            {% for author in book.authors.all %}
            <h6>{{ author.first_name }} {{ author.last_name }}</h6>
            {% endfor %}
            {% if book.actual_rating %}<br>
            {% for rate in book.actual_rating %}
            <span class="fa fa-star checked"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg></span>
              {% endfor %} 
              <br>
              {% else %}
              <br>
            <h6><b>Nobody rated</b></h6>
            {% endif %}
            <br>
            <a href="{% url 'bookDetail' pk=book.pk %}"><button class="btn btn-success btn-xs">Book details</button></a>
        </div>
    </div>
    {% endfor %}
</div>
<h3>Recent added books:</h3>
<div class="row lastBooksContainer">
    {% for book in book_list %}
    <div class="col-md-4 bookCard">
        <div style="background-color: rgb(47, 122, 202)" class="cardBorder">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.name }}</h5>
            {% for author in book.authors.all %}
            <h6>{{ author.first_name }} {{ author.last_name }}</h6>
            {% endfor %}
            {% if book.actual_rating %}<br>
            {% for rate in book.actual_rating %}
            <span class="fa fa-star checked"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg></span>
              {% endfor %} 
              <br>
              {% else %}
              <br>
            <h6><b>Nobody rated</b></h6>
            {% endif %}
            <br>
            <a href="{% url 'bookDetail' pk=book.pk %}"><button class="btn btn-success btn-xs">Book details</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}