{% extends "layout/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-4 bookDetailLeftSide">
        <img class="bookImage" src="{{ book.image.url }}" alt=""> <br>
        {% if book.actual_rating %}
        {% for rate in book.actual_rating %}
        <span class="fa fa-star checked"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg></span>
        {% endfor %}
        <br>
        Num of rates({{ book.reviews.count }})<br>
        {% else %}
        <br>
        <h6>Nobody rated</h6>
        {% endif %}
        Give star:
        <a href="{% url 'rate_book' pk=book.pk rating=1 %}">1</a>
        <a href="{% url 'rate_book' pk=book.pk rating=2 %}">2</a>
        <a href="{% url 'rate_book' pk=book.pk rating=3 %}">3</a>
        <a href="{% url 'rate_book' pk=book.pk rating=4 %}">4</a>
        <a href="{% url 'rate_book' pk=book.pk rating=5 %}">5</a> <br>
        <a href="#commentBox">Num of comments ({{ book.comments.count }})</a>
        {% if book.book_amount > 0 %}
        <h5><strong>Available Book amount :</strong> {{ book.book_amount }}</h5>
        {% if user.is_authenticated %}
        <a href="{% url 'confirm_rent' pk=book.pk %}"><button class="btn btn-success btn-xs">Rent</button></a>
        {% else %}
        <a href="{% url 'confirm_rent' pk=book.pk %}"><button class="btn btn-success btn-xs">Login to rent
                book</button></a>
        {% endif %} <br>
        {% else %}
        <h5><strong>Available Book amount : </strong>none</h5>
        {% endif %} <br>
    </div>
    <div class="col-md-8">
        <h5><strong>Tytuł:</strong>     {{ book.name }}</h5>
        <h5><strong>Autor:</strong>     {{ book.author_id }}</h5>
        <h5><strong>Kategoria:</strong> {{ book.category }}</h5>
        <h5><strong>Opis:</strong> </h5> <p> {{ book.description }}</p>
        <hr class="my-4">
        <div id="commentBox">
            {% if user.is_authenticated %}
            <form method="post" class="formsWidth">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Add comment</button>
            </form>
            {% else %}
            <a href="{% url 'login_to_comment_redirect' pk=book.pk %}"><button class="btn btn-primary btn-xs">Add comment (login)</button></a>
            {% endif %}

            {% if comments %}
            <br> <br>
            <h6>Comments({{ book.comments.count }}):</h6>
            {% for comment in comments %}
            <div>
                <h6><strong>{{ comment.user.username }}</strong></h6>
                <h6 class="comment_text">{{ comment.text }}</h6>
            </div>
            <hr class="my-4">
            {% endfor %}
            {% else %}
            <h6>No comments yet</h6>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock content %}