{% extends "layout/base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col ms-auto"><br>
            <h1 class="text-center"> Lista Książek</h1>
            <!--
            <a class="btn btn-primary" href="{% url 'book_create' %}" role="button"><i class="bi bi-plus-square"></i> Dodaj książkę</a><br>
            -->
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col ms-auto">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr class="table-secondary">
                  <th scope="col">Okładka</th>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Tytuł</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Kategoria</th>
                  <th scope="col"> </th>
                </tr>
              </thead>
              <tbody>
                {% for book in books %}
                <tr>
                  <th><div><img class="book_image" src="{{ book.image.url }}" alt="Book image" width=50></div></th>
                <!--  <th scope="row">{{ book.id }}</th> -->
                  <td>{{ book.name }}</td>
                  <td>
                      {{ book.author_id }}  
                  </td>
                  <td> {{ book.category }} </td>
                  <td>
                      <a class="btn btn-primary" href="{% url 'bookDetail' pk=book.pk %}"><i class="bi bi-pencil"></i> Szczegóły</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}